In [201]:
import pandas as pd
df=pd.read_csv(r"C:\Users\sumit\Desktop\Code\python\Machine Learning\Naive Bayes\titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [202]:
df.drop(['PassengerId','Name','Ticket','Cabin','Embarked','SibSp','Parch'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [203]:
dummies=pd.get_dummies(df.Sex)
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [204]:
df=pd.concat([df,dummies],axis='columns')
df.head()

   Pclass     Sex   Age     Fare  Survived  female  male
0       3    male  22.0   7.2500         0       0     1
1       1  female  38.0  71.2833         1       1     0
2       3  female  26.0   7.9250         1       1     0
3       1  female  35.0  53.1000         1       1     0
4       3    male  35.0   8.0500         0       0     1

In [205]:
y=df.Survived
x=df.drop(['Survived','Sex'],axis='columns')
x.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [206]:
x.columns[x.isna().any()]

Index(['Age'], dtype='object')

In [207]:
x.Age=x.Age.fillna(x.Age.mean())
x.Age

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [208]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [209]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [210]:
model.fit(x_train,y_train)

GaussianNB()

In [211]:
model.score(x_test,y_test)

0.770949720670391

In [212]:
model.predict(x_test.head(10))

array([0, 1, 0, 0, 1, 1, 0, 0, 0, 0], dtype=int64)

In [213]:
model.predict_proba(x_test.head(10))

array([[0.98948418, 0.01051582],
       [0.03735854, 0.96264146],
       [0.98057566, 0.01942434],
       [0.91533839, 0.08466161],
       [0.01689464, 0.98310536],
       [0.0079222 , 0.9920778 ],
       [0.98994867, 0.01005133],
       [0.97502894, 0.02497106],
       [0.98838841, 0.01161159],
       [0.98939905, 0.01060095]])

In [214]:
y_test.head(10)

286    1
18     0
169    0
64     0
854    0
43     1
696    0
413    0
287    0
464    0
Name: Survived, dtype: int64